body {
  font-family: 'work-sans', sans-serif;
  margin:0;
  border-style: solid;
  border-color: turquoise;}

/*  NAVIGATION
 
.nav{
  background-image: url(../images/header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -10px; */

/* .flex {flex-direction: column;
border-style: solid;
border-color: turquoise;
} */
#all-nav {position: fixed;
  border-style: dotted;
border-color: red;
display: flex;
flex-direction: row;
align-items: flex-start; } 

.nav{
  border-style: dotted;
  border-color: olive;  
  background-image: url(../images/header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    margin: -25px -10px -10px -10px;
    align-items: center;
    }

.logo img{
  padding: 25px;
  margin: 5px;
  margin-left: 25px;
  justify-content; left;
}

.topnav-left a{
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white; 
  text-decoration: none;
  border-style: dotted;
  border-color:violet;
  justify-content; left;
  }

.topnav-right a{ 
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white; 
  text-decoration: none;
  border-style: dotted;
border-color:greenyellow;
border-width: 2px;
justify-content; right;}

/* .herocontent{
flex-direction: row;
border-style: dotted;
border: coral;
border-width: 2px;  } */

.allcontent {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color:rgb(47, 154, 255);
  border-width: 2px;  } 

.copyarea {
  display: flex; 
  flex-direction: column;}

h1 
{font-family: 'obviously-wide', sans-serif;
  font-weight: 600;
  font-style: normal;
  }
.intro {font-family: 'work-sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;}  
h3 
{font-family: 'obviously-wide', sans-serif;
  font-weight: 600;
  font-style: normal;}  

.button1{
  background-color:#BEE1D6; 
  border-style: dotted;
  border-color: black;
  font-family: ballinger-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
  Margin-right: 40px;
  padding: 15px 35px 15px 35px;}

.button2{
  background-color: #FCB140;
  font-family: ballinger-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 15px 35px 15px 35px;}

.leftfooter{
  overflow: hidden;}
  
.footer a{
float: left;
color: #000000;
text-align: center;
font-size: 17px;
padding: 25px;
margin: 10px;
text-decoration: none;}

.xy {border-style: solid;
  border-color: orangered;}

.footer {background-image: url(../Images/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
  height: 300px;
  margin: -10px;}
  
.rightfooter {float: right;
  margin: 10px;
padding: 25px;
font-size: 13px;}