body {
  font-family: 'work-sans', sans-serif;
  margin:0;}

/*  NAVIGATION
 
.nav{
  background-image: url(../images/header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -10px; */

#all-nav {position: fixed;
border: red} 

.nav{
  border: blue;  
  background-image: url(../images/header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -15px;
    /* height: 300px;
    position: absolute;*/ 
    display: flex;
    flex-direction: row;
    width: 1300px;
    }    copy

/* .logo img{
  padding: 25px;
  margin: 5px;
  margin-left: 25px;} */

.topnav-left a{
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white; 
  text-decoration: none;
  flex-direction: row;
  border:violet;
  }

.topnav-right a{ 
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white; 
  text-decoration: none;
  flex-direction: row;
border:greenyellow;
border-width: 2px;}

.hero {
flex-direction: row;
border:greenyellow;
border-width: 2px;  }

.copyarea {flex-direction: column;}

h1 
{font-family: 'obviously-wide', sans-serif;
  font-weight: 600;
  font-style: normal;
  }
.intro {font-family: 'work-sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;}  
h3 
{font-family: 'obviously-wide', sans-serif;
  font-weight: 600;
  font-style: normal;}  

.button1{
  background-color:#BEE1D6; 
  font-family: ballinger-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
  Margin-right: 40px;
  padding: 15px 35px 15px 35px;}

.button2{
  background-color: #FCB140;
  font-family: ballinger-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 15px 35px 15px 35px;}

.leftfooter{
  overflow: hidden;}
  
.footer a{
float: left;
color: #000000;
text-align: center;
font-size: 17px;
padding: 25px;
margin: 10px;
text-decoration: none;}

.footer {background-image: url(../Images/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  height: 300px;
  margin: -10px;}
  
.rightfooter {float: right;
  margin: 10px;
padding: 25px;
font-size: 13px;}